.signup{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(76deg, rgba(0,182,150,1) 0%, rgba(12,204,153,1) 100%);
    color: rgba(0,182,150,1);
}
.signup-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 35px;
    background: white;
    height: 520px;
}
.signup-data{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 1rem;
}
.signup-data input{
    width: 350px;
    padding: 8px 10px;
    background: none;
    outline: none;
    border: none;
    color: rgba(0,182,150,1);
    font-size: 16px;
    border: 1px solid rgba(0,182,150,1);
    border-radius: 5px;
    margin-bottom: 1rem;
}
.signup-data span{
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 13px;
    font-weight: 500;
}
.signup-title{
    align-items: center;
    text-align: center;
    font-size: 35px;
    padding-bottom: 4rem;
}
.signup-last{
    text-align: center;
}
.signup-last span{
    color: rgba(0,182,150,1);
    font-weight: 600;
}
.signup-btn{
    margin-bottom: 2rem;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    background: rgba(0,182,150,1);
}

@media (max-width: 550px) {
    .signup-container{
        padding: 25px;
    }
    .signup-data input{
        width: 350px;
        padding: 8px;
        font-size: 15px;
        margin-bottom: 1rem;
    }
    .signup-title{
        font-size: 30px;
        padding-bottom: 2rem;
    }   
    .signup-data span{
        font-size: 15px;
    }
}
@media (max-width: 430px) {
    .signup-container{
        padding: 15px;
    }
    .signup-data input{
        width: 300px;
        padding: 8px 12px;
        font-size: 13px;
        margin-bottom: 1rem;
    }
    .signup-title{
        font-size: 25px;
        padding-bottom: 2rem;
    }   
    .signup-data span{
        font-size: 13px;
        padding-bottom: 5px;
        padding-left: 12px;
    }
}
@media (max-width: 400px) {
    .signup-container{
        padding: 30px 20px;
    }
    .signup-data input{
        width: 280px;
    }
   
}
@media (max-width: 350px) {
    .signup-container{
        padding: 30px 20px;
    }
    .signup-data input{
        width: 220px;
    }
   
}
@media (max-width: 310px) {
    .signup-container{
        padding: 35px 10px;
    }
    .signup-data input{
        width: 180px;
    }   
}