.privacy {
  height: 100%;
  background: linear-gradient(
    76deg,
    rgba(0, 182, 150, 1) 0%,
    rgba(12, 204, 153, 1) 100%
  );
  padding-top: 5rem;
}
.privacy-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.privacy-header p {
  color: rgb(97, 97, 97);
  font-size: 10px;
}
.privacy-data {
  max-width: 700px;
}
.privacy-box {
  padding-top: 5rem;
  border-bottom: 1px solid white;
}
.privacy-box h2 {
  padding: 1.5rem 0;
}
.privacy-box p {
  padding-bottom: 1.5rem;
  font-size: 14px;
}
.privacy-table {
  width: 300px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  row-gap: 1rem;
  right: 5%;
  top: 30%;
  background: white;
  padding: 20px 25px;
  position: fixed;
}
.privacy-table h4 {
  color: black;
  font-weight: 500;
}
.privacy-table a {
  font-size: 14px;
  cursor: pointer;
  color: rgba(0, 182, 150, 1);
}
.privacy-box1{
    margin-bottom: 3rem;
}


@media (max-width: 1100px) {
    .privacy-table{
        right: 3%;
        top: 20%;
        width: 230px;
        height: 350px;
    }
    .privacy-container{
        width: 950px;
    }
}
@media (max-width: 1000px){
    .privacy-table{
        display: none;
    }
    .privacy-container{
        width: 850px;
    }
}
@media (max-width: 940px){
    .privacy-container{
        width: 800px;
    }
}
@media (max-width: 870px){
    .privacy-container{
        width: 750px;
    }
}
@media (max-width: 870px){
    .privacy-container{
        width: 650px;
    }
}
@media (max-width: 700px){
    .privacy-container{
        width: 600px;
    }
    .privacy-box h2 {
        font-size: 22px;
      }
      .privacy-box p {
        padding-bottom: 1.5rem;
        font-size: 13px;
      }
}
@media (max-width: 650px){
    .privacy-container{
        width: 500px;
    }
}
@media (max-width: 550px){
    .privacy-container{
        width: 400px;
    }
}
@media (max-width: 450px){
    .privacy-container{
        width: 350px;
    }
    .privacy-box h2 {
        font-size: 20px;
      }
      .privacy-box p {
        padding-bottom: 1.5rem;
        font-size: 12px;
      }
}
@media (max-width: 400px){
    .privacy-container{
        width: 250px;
    }
    .privacy-box h2 {
        font-size: 20px;
      }
      .privacy-box p {
        padding-bottom: 1.5rem;
        font-size: 12px;
      }
}