.about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00c9a4;
}
.about-data{
    width: 400px;
}
.about-data h2{
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 4rem;
}
.about-data p{
    margin-bottom: 1.5rem;
}
.boxi img{
    height: 170px;
    width: 170px;
    transition: .2s ease-in-out;
}
.boxi img:hover{
    transform: scale(1.05);
}
.boxi{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 10px 5px;
    cursor: pointer;
    margin: 0 0.5rem;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.295);
    
}

.boxi p{
    color: #666666;
    font-weight: bold;
    font-size: 13px;
}
.boxi h3{
    margin-bottom: 0.5rem;
}
.home-box1 h3{
    color: #0C8762;
}
.home-box2 h3{
    color: #760C87;
}
.home-box3 h3{
    color: #0C4C87;
}

@media (max-width: 1100px) {
    .about-data{
        position: relative;
        left: 11%;
    }
    .about-box{
        width: 850px;
        margin: 0 auto;
    }
}
@media (max-width: 950px){
    .about-box{
        width: 820px;
        margin: 0 auto;
    }
}
@media (max-width: 900px){
    .about-box{
        width: 800px;
        margin: 0 auto;
    }
}
@media (max-width: 860px){
    .about-box{
        width: 650px;
        margin: 0 auto;
    }
}
@media (max-width: 740px){
    .about-box{
        width: 600px;
        margin: 0 auto;
    }
}
@media (max-width: 660px){
    .about-box{
        width: 550px;
        margin: 0 auto;
    }
}
@media (max-width: 600px){
    .about-box{
        width: 500px;
        margin: 0 auto;
    }
}
@media (max-width: 550px){
    .about-box{
        width: 400px;
        margin: 0 auto;
    }
}
@media (max-width: 470px){
    .about-box{
        width: 300px;
        margin: 0 auto;
    }
}
@media (max-width: 380px){
    .about-box{
        width: 250px;
        margin: 0 auto;
    }
}
@media (max-width: 554px){
    
        .about-data{
            position: relative;
            left: 17%;
        }
        .about-data h2{
            font-size: 35px;
        }
        .about-data p{
            font-size: 15px;
        }
    
}
@media (max-width: 485px){
    
    .about-data{
        width: 250px;
    }
}
@media (max-width: 450px){
    
    .about-data{
        width: 230px;
    }
}
@media (max-width: 300px){
    .about-data{
        width: 250px;
    }
}