.about{
    height: 100vh;
    display: flex;
}
.about-box{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
.about-data{
    width: 400px;
}
.about-data h2{
    font-size: 40px;
    line-height: 40px;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.about-data p{
    margin-bottom: 1.5rem;
}
.boxi img{
    height: 170px;
    width: 170px;
    transition: .2s ease-in-out;

}
.boxi img:hover{
    transform: scale(1.05);
 
}
.boxi{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 25px 15px;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.295);

}
.about-box-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-left{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    padding: 4px;
    background-color: #0C8762;
    margin-right: 45px;
}
.icon-right{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    padding: 4px;
    background-color: #0C8762;
    margin-left: 45px;
    
}
.boxi p{
    color: #666666;
    font-weight: bold;
    font-size: 13px;
}
.boxi h3{
    margin-bottom: 0.5rem;
}
.home-box1 h3{
    color: #0C8762;
}
.home-box2 h3{
    color: #760C87;
}
.home-box3 h3{
    color: #0C4C87;
}
@media (max-width: 1218px){
    .about-box{
        display: grid;
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    } 
    .about{
        height: 100%;
    }
    .boxi{
        margin: 15px 0;
    }
}
@media (max-width: 1100px) {
    .about-data{
        position: relative;
        left: 11%;
    }
    .about-box{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }
    .boxi{
        margin: 15px 0;
    }
    .about{
        height: 100%;
    }
}
@media (max-width: 1050px){
    .about-box{
        display: grid;
        grid-template-columns: repeat(1, 400px);
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }
    .icon-left,
    .icon-right{
        display: none;
    }
}
@media (max-width: 554px){
    
        .about-data{
            position: relative;
            left: 17%;
        }
        .about-data h2{
            font-size: 35px;
        }
        .about-data p{
            font-size: 15px;
        }
    .about-box{
        grid-template-columns: repeat(1, 300px);
    }
    .icon-left,
    .icon-right{
        display: none;
    }
}
@media (max-width: 450px){
    .about-box{
        grid-template-columns: repeat(1, 260px);
    }
    .about-data{
        width: 250px;
    }
}
@media (max-width: 300px){
    .about-box{
        grid-template-columns: repeat(1, 220px);
    }
    .about-data{
        width: 250px;
    }
}