.home {
  height: 100vh;
  position: relative;
}
.background {
  height: 100%;
  width: 100%;
  object-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  background-repeat: no-repeat;
}
.slider{
  height: 500px;
}
.slides{
  height: 500px;
  display: flex;
}
.slides input{
  display: none;
}
.home-box {
  display: flex;
}
.slide{
  width: 20%;
  transition: 2s;
}
.slide img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid white;  
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 580px;
}
.navigation-auto div{
  border: 2px solid white;
  padding: 4px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background: white;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
  background: white;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background: white;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}
#radio5:checked ~ .first{
  margin-left: -80%;
}


.box1 {
  width: 150px;
  height: 450px;
  transform: skew(23deg);
  background: #00b696;
  position: absolute;
  top: 20%;
  left: 20%;
}
.box2 {
  width: 150px;
  height: 450px;
  transform: skew(23deg);
  background: #00b6953d;
  position: absolute;
  top: 25%;
  left: 17.5%;
}
.home-data {
  width: 400px;
  position: absolute;
  top: 40%;
}
.home-data h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
}
.home-data p {
  margin-bottom: 1rem;
  font-weight: bold;
}
.home-btn {
  background: transparent;
  border: none;
  outline: none;
  background: #00b696;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  margin-top: 3rem;
  cursor: pointer;
}
.home-btn i {
  margin-left: 15px;
  background: rgba(255, 255, 255, 0.541);
  border-radius: 25px;
  font-size: 8px;
}
.home-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  row-gap: 1rem;
  right: 0;
  top: 40%;
  background: #00b696;
  padding: 20px 10px;
  position: fixed;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.842);
  z-index: 9999;
}
.fa-brands {
  cursor: pointer;
  margin-top: 5px;
  transition: 0.2s ease-in;
}
.fa-brands:hover {
  color: rgb(240, 240, 240);
}

@media (max-width: 1098px) {
  .home-data {
    width: 400px;
    position: absolute;
    /* top: 40%; */
    left: 11%;
  }
  .home-data h1 {
    margin-bottom: 1rem;
    font-size: 3.2rem;
  }
  
}
@media (max-width: 700px){
  .home-data{
    width: 300px;
  }
  .home-data h1 {
    font-size: 2.5rem;
  }
  .home-data p{
    font-size: 15px;
    width: 170px;
  }
  .box1{
    width: 130px;
    height: 420px;
  }
  .box2{
    width: 130px;
    height: 420px;
  }
}
@media (max-width: 400px){
  .manual-btn{
    display: none;
  }
  .navigation-auto{
    display: none;
  }
  .home-data h1 {
    font-size: 2.2rem;
  }
  .home-data p{
    font-size: 13px;
    width: 170px;
  }
  .home-btn{
    padding: 6px 16px;
    font-size: 11px;
  }
}
