.header {
  background: rgba(255, 255, 255, 0.137);
  backdrop-filter: blur(7px);
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 9999;
  font-family: "Montserrat", sans-serif;
}
.header-container {
  width: 1050px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 0; */
}
.header-left {
  display: flex;
  align-items: center;
  column-gap: 6rem;
}
.header-left ul {
  font-weight: bold;
  display: flex;
  font-size: 14px;
  list-style: none;
  column-gap: 3rem;
  text-transform: uppercase;
}
.header-left ul li {
  display: inline-block;
}
.header-left ul li a {
  position: relative;
}

.head {
  color: white;
}
.head::after {
  content: "";
  height: 0.1rem;
  width: 0;
  background: #00b695;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: 0.4s;
}
.head:hover::after {
  width: 100%;
}
.active-head::after {
  content: "";
  height: 0.1rem;
  width: 100%;
  background: #00b695;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: 0.4s;
}
.header-right {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.header-logo img {
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
}
.header-btn {
  background: transparent;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid #00b695;
  cursor: pointer;
  transition: 0.2s ease-in;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.logout-btn {
  background: transparent;
  background: #00b695;
  border: none;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.header-btn:hover {
  background: rgba(128, 128, 128, 0.555);
}
.header-login:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}
.header-login {
  color: white;
}
.logout-hide {
  display: none;
}
.check-btn {
  font-size: 30px;
  float: right;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.header-logo-hide {
  display: none;
}

@media (max-width: 1100px) {
  .header-container {
    width: 850px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-left ul {
    column-gap: 2rem;
    font-size: 12px;
  }
  .header-logo img {
    height: 35px;
  }
  .header-btn {
    padding: 6px 10px;
  }
}
@media (max-width: 952px) {
  .header-logo img {
    height: 35px;
  }
  
}
@media (max-width: 858px) {
  .header {
    background: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(7px);
  }
  .header-logo {
    display: none;
  }
  .header-logo-hide {
    display: block;
    height: 35px;
    padding: 15px 15px;
  }
  .header-logo-hide img {
    height: 35px;
  }
  .check-btn {
    display: block;
    padding: 10px;
  }
  .header-left ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-left ul li {
    margin-bottom: 2rem;
    font-size: 20px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.856);
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    padding-bottom: 6rem;
  }
  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-btn {
    margin-bottom: 2rem;
  }
  .logout-btn {
    margin-top: 1rem;
  }
  .hide {
    margin-top: 2rem;
  }
  .header-left ul li {
    display: block;
  }
  #check:checked ~ .header-container {
    left: 0;
  }
}
