.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00B696;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 1rem;
}
.footer-logo{
    padding-top: 2rem;
}
.footer-logo img{
    height: 45px;
}
.footer-socials{
    display: flex;
    column-gap: 2rem;
}
.condition a{
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.private a{
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    cursor: pointer;
}

@media (max-width: 770px) {
    .footer-container{
        column-gap: 2rem;
    }
}
@media (max-width: 660px) {
    .footer-container{
        column-gap: 1.5rem;
    }
    .footer-socials{
        column-gap: 1rem;
    }
    .footer-logo img{
        height: 35px;
    }
    .condition,
    .private{
        font-size: 14px;
    }
}
@media (max-width: 530px){
    .footer-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        row-gap: 1rem;
    }
    .condition,
    .private{
        font-size: 12px;
    }
}