.contact {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(76deg, rgba(0,182,150,1) 0%, rgba(12,204,153,1) 100%);
}
.contactform {
  position: relative;
  width: 60%;
  left: 15%;
  padding: 4rem;
  /* margin-bottom: 5rem; */
}
.contactform h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.inputbox {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}
.inputbox input,
.inputbox textarea {
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  margin: 0.8rem 0;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  resize: none;
}
.inputbox span {
  position: absolute;
  left: 0;
  padding: 0.5rem 0;
  font-size: 15px;
  margin: 1rem 0.5rem;
  pointer-events: none;
  transition: 0.4s;
  color: white;
}
.inputbox input:focus ~ span,
.inputbox input:valid ~ span,
.inputbox textarea:focus ~ span,
.inputbox textarea:valid ~ span {
  color: rgb(202, 202, 202);
  font-size: 1rem;
  transform: translateY(-2rem);
}
.inputbox input[type="submit"] {
  width: 9rem;
  font-weight: bold;
  border: none;
  color: #00b696;
  border-radius: 2rem;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
  text-transform: uppercase;
}
.inputbox input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.76);
}
hr {
  width: 100%;
}
.contact-women {
  position: absolute;
  left: 10%;
  bottom: 0;
}
.contact-women img{
  height: 300px;
}

@media (max-width: 1150px){
  .contactform {
    position: relative;
    width: 70%;
    left: 25%;
    padding: 4rem;
    /* margin-bottom: 5rem; */
  }
  .contact-women img{
    height: 200px;
  }
  .contactform h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 750px){
  .contact-women{
    display: none;
  }
  .contactform{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 500px){
  .contactform h2 {
    font-size: 2rem;
  }
}